#app {
  height: 100vh;
  width: 100vw;
  /* background: url("/src/cheers.jpg");
  background-color: #444;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;  */
}
  