@import url("/node_modules/normalize.css/normalize.css");

* {
  font-family: "DynaPuff", cursive, "Helvetica Neue", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "DynaPuff", cursive, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}